body {
    text-align: center;
}

.countdown {
    font-size: 80px;
}

canvas {
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -100;
}

#text {
    color: #ffffff;
    z-index: 100;
}